# Created by .gitignore support plugin (hsz.mobi)
keeleliin-wrapper-service.iml
config.js
node_modules
.idea
dump.rdb
scan
tests/contentTokenizer.js
tests/jmeter.log
tests/94megafile
tests/189megafile
keeleliin.log