# Created by .gitignore support plugin (hsz.mobi)
keeleliin-wrapper-service.iml
config.js
node_modules
.idea
dump.rdb
scan
tmp_tests/contentTokenizer.js
tmp_tests/jmeter.log
tmp_tests/94megafile
tmp_tests/189megafile
keeleliin.log
coverage
global_config/local_global.js
updateWrappers.sh